<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.droidcrib.getflat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Apartments.db" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.blogspot.droidcrib.getflat.model.ActionElementsLabels,
                com.blogspot.droidcrib.getflat.model.AdvertisementFeatures,
                com.blogspot.droidcrib.getflat.model.card.Card,
                com.blogspot.droidcrib.getflat.model.card.Description,
                com.blogspot.droidcrib.getflat.model.card.Geo,
                com.blogspot.droidcrib.getflat.model.card.Address,
                com.blogspot.droidcrib.getflat.model.card.District,
                com.blogspot.droidcrib.getflat.model.card.Microdistrict,
                com.blogspot.droidcrib.getflat.model.card.Building,
                com.blogspot.droidcrib.getflat.model.card.HouseFeature,
                com.blogspot.droidcrib.getflat.model.card.Photo,
                com.blogspot.droidcrib.getflat.model.card.RealtyFeature,
                com.blogspot.droidcrib.getflat.model.card.SingleRealtyPageLink,
                com.blogspot.droidcrib.getflat.model.card.SourceLink,
                com.blogspot.droidcrib.getflat.model.card.Time,
                com.blogspot.droidcrib.getflat.model.parameters.AreaParam
                com.blogspot.droidcrib.getflat.model.parameters.CityParam
                com.blogspot.droidcrib.getflat.model.parameters.DistrictParam
                com.blogspot.droidcrib.getflat.model.parameters.PriceParam
                com.blogspot.droidcrib.getflat.model.parameters.RoomsParam
                com.blogspot.droidcrib.getflat.model.parameters.SubwayParam
                com.blogspot.droidcrib.getflat.model.parameters.SubwayDistanceParam"

            />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />


        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.SelectionActivity">

        </activity>
    </application>

</manifest>