<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.droidcrib.getflat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Apartments.db" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.blogspot.droidcrib.getflat.model.ActionElementsLabels,
                com.blogspot.droidcrib.getflat.model.AdvertisementFeatures,
                com.blogspot.droidcrib.getflat.model.Card,
                com.blogspot.droidcrib.getflat.model.Description,
                com.blogspot.droidcrib.getflat.model.Geo,
                com.blogspot.droidcrib.getflat.model.HouseFeature,
                com.blogspot.droidcrib.getflat.model.Photo,
                com.blogspot.droidcrib.getflat.model.RealtyFeature,
                com.blogspot.droidcrib.getflat.model.SingleRealtyPageLink,
                com.blogspot.droidcrib.getflat.model.SourceLink,
                com.blogspot.droidcrib.getflat.model.Time" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>